@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  scroll-behavior: smooth;
}

body,
p {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-primary: #1f1f1f;
    --color-secondary: #242424;
    --color-text: #f5f5f5;
    --color-secondary-text: #f9f9f9;
    --color-primary-bg: #282828;
  }

  .mc-blur {
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
  }
}

.theme-dark {
  --color-primary: #1f1f1f;
  --color-secondary: #242424;
  --color-text: #f5f5f5;
  --color-secondary-text: #f9f9f9;
  --color-primary-bg: #282828;
}

.theme-light {
  --color-primary: #f5f5f5;
  --color-secondary: #fbfbfb;
  --color-text: #1f1f1f;
  --color-secondary-text: #272727;
  --color-primary-bg: #fefefe;
}
